<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfile" xsi:type="File" fileName="${basedir}/Logs/hn-${date:universalTime=true:format=yyyy-MM-dd}.txt" layout="[${longdate:universalTime=true} ${threadid}] ${level:uppercase=true}: ${callsite} ${message}" encoding="utf-8" />
  </targets>

  <rules>
    <logger name="HomeNet.Network.*" maxlevel="Info" final="true" enabled="false" />
    <logger name="*" minlevel="Trace" writeTo="logfile" />
  </rules>

</nlog>
