<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfile" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Block" batchSize="1000">
      <target xsi:type="File" fileName="${basedir}/Logs/ps-current.txt" archiveFileName="${basedir}/Logs/ps-${date:universalTime=true:format=yyyy-MM-dd}.txt" archiveNumbering="Sequence" archiveEvery="Day" maxArchiveFiles="14" layout="[${longdate:universalTime=true} ${threadid}${mdc:item=id}] ${level:uppercase=true}: ${callsite} ${message}" encoding="utf-8" />
    </target>
  </targets>

  <rules>
    <logger name="ProfileServer.Utils.DbLogger.*" maxlevel="Warn" final="true" enabled="true" />
    <logger name="ProfileServer.Network.*" maxlevel="Debug" final="true" enabled="false" />
    <logger name="ProfileServer.Data.*" maxlevel="Debug" final="true" enabled="false" />
    <logger name="*" minlevel="Trace" writeTo="logfile" />
  </rules>

</nlog>
