<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfile" xsi:type="File" fileName="${basedir}/Logs/sim-${date:universalTime=true:format=yyyy-MM-dd}.txt" layout="[${longdate:universalTime=true} ${threadid}] ${level:uppercase=true}: ${callsite} ${message}" encoding="utf-8" />
    <target name="consoleInfo" xsi:type="Console" layout="${message}" />
    <target name="consoleError" xsi:type="Console" error="true" layout="${level:uppercase=true}: ${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile" />
    <logger name="*" level="Info" writeTo="consoleInfo" />
    <logger name="*" level="Error" writeTo="consoleError" />
  </rules>
</nlog>
